<!-- register.html -->
{% extends 'base.html' %}

{% block title %}Register on Teneo{% endblock %}

{% block content %}
<main class="container mx-auto mt-8">
    <div class="min-h-screen flex flex-col">
    <div class="container max-w-lg mx-auto flex-1 flex flex-col items-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">

            <!-- Start of the form -->
            <form id="register-form" action="/register" method="post">
                <h1 class="mb-8 text-3xl text-center">Register</h1>

                <div class="mb-4">
                    <label class="text-sm text-gray-600" for="username">Your username</label>
                    <input
                            id="username"
                            type="text"
                            class="block border border-grey-light w-full p-3 rounded"
                            name="username"
                            placeholder="Username"
                            value="{{ form_data.username if form_data else '' }}"
                            required
                    />
                    {% if errors.get("username") %}
                        <span class="text-sm text-red-600">{{ errors["username"] }}</span>
                    {% endif %}
                </div>

                <div class="mb-4">
                    <label class="text-sm text-gray-600" for="email">Your Email</label>
                    <input
                            id="email"
                            type="email"
                            class="block border border-grey-light w-full p-3 rounded"
                            name="email"
                            placeholder="Email"
                            value="{{ form_data.email if form_data else '' }}"
                            required
                    />
                    {% if errors.get("email") %}
                        <span class="text-sm text-red-600">{{ errors["email"] }}</span>
                    {% endif %}
                </div>

                <div class="mb-4">
                    <label class="text-sm text-gray-600" for="password">Your Password</label>
                    <input
                            id="password"
                            type="password"
                            class="block border border-grey-light w-full p-3 rounded"
                            name="password"
                            placeholder="Password"
                            required />
                    {% if errors.get("password") %}
                        <span class="text-sm text-red-600">{{ errors["password"] }}</span>
                    {% endif %}
                </div>

                <div class="mb-4">
                    <label class="text-sm text-gray-600" for="confirm_password">Confirm your Password</label>
                    <input
                            id="confirm_password"
                            type="password"
                            class="block border border-grey-light w-full p-3 rounded"
                            name="confirm_password"
                            placeholder="Confirm Password"
                            required />
                    {% if errors.get("confirm_password") %}
                        <span class="text-sm text-red-600">{{ errors["confirm_password"] }}</span>
                    {% endif %}
                </div>

                <div class="mb-3">
                  <h2 class="text-gray-600 mb-2">Your Interests (at least 3)</h2>
                  <p class="text-sm text-gray-500">You can change this selection later</p>
                  <div class="grid grid-cols-2 gap-4 mt-3">
                      {% for tag in tags %}
                        <label for="{{ tag.id }}" class="flex items-center">
                          <input type="checkbox" id="{{ tag.id }}" name="tags" value="{{ tag.id }}" class="interest-item form-checkbox h-4 w-4 text-indigo-600">
                          <span class="ml-2 text-sm">{{ tag.title }}</span>
                        </label>
                      {% endfor %}
                    <!-- Add more tags as needed -->
                  </div>
                </div>

                <button
                        disabled
                        id="submit-register-btn"
                        type="submit"
                        class="w-full opacity-30 text-center py-3 rounded border-2 border-purple-600 font-semibold text-purple-600 hover:text-white transition hover:bg-purple-600 focus:outline-none my-1"
                >Create Account</button>
            </form>
            <!-- End of the form -->

        </div>

        <div class="text-grey-dark mt-6">
            Already have an account?
            <a class="no-underline border-b border-blue text-blue" href="../login/">
                Log in
            </a>.
        </div>
    </div>
</div>

</main>

<script>
    // elements used for validation
    const username = document.getElementById("username");
    const email = document.getElementById("email");
    const password = document.getElementById("password");
    const confirm_password = document.getElementById("confirm_password");
    const interests = [...document.getElementsByClassName("interest-item")]

    // validate function - count checked interests, check that other fields aren't empty
    function validate() {
        const counts = interests.map(item => item.checked).filter(x => x === true).length
        if (counts >= 3 && username.value && email.value && password.value && confirm_password.value) {
            document.getElementById("submit-register-btn").disabled = false;
            document.getElementById("submit-register-btn").classList.remove("opacity-30");
        } else {
            document.getElementById("submit-register-btn").disabled = true;
            document.getElementById("submit-register-btn").classList.add("opacity-30");
        }
    }

    // when an interest is (un)checked - revalidate
    [...document.getElementsByClassName("interest-item")].forEach(function(interest) {
        interest.addEventListener("click", function() {
            validate();
        });
    });

    // when any of the fields is changed - revalidate
    [username, email, password, confirm_password].forEach(function(input) {
        input.addEventListener("change", function () {
            validate();
        });
    });

</script>

{% endblock %}
